.greenColorThan:hover {
  background: #0AD893 !important;
  color: #fff !important;
}
.blueColorThan:hover {
  background: #16a0fe !important;
  color: #fff !important;
}
.yellowColorThan:hover {
  background: #ffc30d !important;
  color: #fff !important;
}
.orangeColorThan:hover {
  background: #ff9040 !important;
  color: #fff !important;
}
.violetColorThan:hover {
  background: #ab66ff !important;
  color: #fff !important;
}
.ShecolorColorThan:hover {
  background: #4d94fe !important;
  color: #fff !important;
}
.wathetColorThan:hover {
  background: #00cafd !important;
  color: #fff !important;
}
.BlueCyanColorThan:hover {
  background: #22d9c6 !important;
  color: #fff !important;
}
.CyanColorThan:hover {
  background: #00d96d !important;
  color: #fff !important;
}
.YellowOrangeColorThan:hover {
  background: #ffb01e !important;
  color: #fff !important;
}
.PinkColorThan:hover {
  background: #ff867d !important;
  color: #fff !important;
}
.PinkRedColorThan:hover {
  background: #fe596a !important;
  color: #fff !important;
}
.violetRedColorThan:hover {
  background: #fe80cd !important;
  color: #fff !important;
}
.violetBlueColorThan:hover {
  background: #c873ff !important;
  color: #fff !important;
}
.violetShecolorColorThan:hover {
  background: #8074fe !important;
  color: #fff !important;
}
