.greyColor {
  background: #cccccc !important;
  color: #fff !important;
}
.greyColorThan {
  color: #222 !important;
  background: rgba(204, 204, 204, 0.2) !important;
}
.greenColor {
  background: #0AD893 !important;
  color: #fff !important;
}
.greenColorThan {
  color: #222 !important;
  background: rgba(10, 216, 147, 0.2) !important;
}
.blueColor {
  background: #16a0fe !important;
  color: #fff !important;
}
.blueColorThan {
  color: #222 !important;
  background: rgba(22, 160, 254, 0.2) !important;
}
.yellowColor {
  background: #ffc30d !important;
  color: #fff !important;
}
.yellowColorThan {
  color: #222 !important;
  background: rgba(255, 195, 13, 0.2) !important;
}
.orangeColor {
  background: #ff9040 !important;
  color: #fff !important;
}
.orangeColorThan {
  color: #222 !important;
  background: rgba(255, 144, 64, 0.2) !important;
}
.violetColor {
  background: #ab66ff !important;
  color: #fff !important;
}
.violetColorThan {
  color: #222 !important;
  background: rgba(171, 102, 255, 0.2) !important;
}
.ShecolorColor {
  background: #4d94fe !important;
  color: #fff !important;
}
.ShecolorColorThan {
  color: #222 !important;
  background: rgba(77, 148, 254, 0.2) !important;
}
.wathetColor {
  background: #00cafd !important;
  color: #fff !important;
}
.wathetColorThan {
  color: #222 !important;
  background: rgba(0, 202, 253, 0.2) !important;
}
.BlueCyanColor {
  background: #22d9c6 !important;
  color: #fff !important;
}
.BlueCyanColorThan {
  color: #222 !important;
  background: rgba(34, 217, 198, 0.2) !important;
}
.CyanColor {
  background: #00d96d !important;
  color: #fff !important;
}
.CyanColorThan {
  color: #222 !important;
  background: rgba(0, 217, 109, 0.2) !important;
}
.YellowOrangeColor {
  background: #ffb01e !important;
  color: #fff !important;
}
.YellowOrangeColorThan {
  color: #222 !important;
  background: rgba(255, 176, 30, 0.2) !important;
}
.PinkColor {
  background: #ff867d !important;
  color: #fff !important;
}
.PinkColorThan {
  color: #222 !important;
  background: rgba(255, 134, 125, 0.2) !important;
}
.PinkRedColor {
  background: #fe596a !important;
  color: #fff !important;
}
.PinkRedColorThan {
  color: #222 !important;
  background: rgba(254, 89, 106, 0.2) !important;
}
.violetRedColor {
  background: #fe80cd !important;
  color: #fff !important;
}
.violetRedColorThan {
  color: #222 !important;
  background: rgba(254, 128, 205, 0.2) !important;
}
.violetBlueColor {
  background: #c873ff !important;
  color: #fff !important;
}
.violetBlueColorThan {
  color: #222 !important;
  background: rgba(200, 115, 255, 0.2) !important;
}
.violetShecolorColor {
  background: #8074fe !important;
  color: #fff !important;
}
.violetShecolorColorThan {
  color: #222 !important;
  background: rgba(128, 116, 254, 0.2) !important;
}
